{% extends 'base.html.twig' %}

{% block title %}Edition projet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/Formulaires/commun.style.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}
    <h3>Editer un projet</h3>
    <div id="container-form">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div id="container-boutons">
                <button class="custom-btn-success">Editer projet</button>
                <a class="custom-btn-secondary police-standard-btn" href="{{ path('liste_projets') }}">Retour à la liste des projets</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}